.add-lost-item-container {
  width: 100%;
  height: 100vh;
  background-color: #000413;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-lost-item-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 175px;
  padding-bottom: 35px;
  width: 80%;
}